body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-editor .mdxeditor {
  background-color: #2d3748; /* gray.700 */
  color: #f7fafc; /* gray.50 */
}

.dark-editor .cm-editor {
  background-color: #1a202c; /* gray.800 */
  color: #f7fafc; /* gray.50 */
}